<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>

  <body>
    <%- include('./partials/nav.ejs'); %>

      <div class="grid-y align-center-middle">
        <h1>Home</h1>
        <p>This is home page and unfortunately it is Empty</p>
      </div>

      <%- include('./partials/scripts.ejs'); %>
  </body>

</html>
